/* //!STARTERCONF Remove this file after copying your desired color, this is a large file you should remove it. */

:root {
  --tw-color-primary: 26 173 181;
  --tw-color-primary-foreground: 72 66 66;
  --tw-color-secondary: 230 244 241;
  --tw-color-secondary-foreground: 118 118 118;
  --tw-color-muted: 26 173 181;
  --tw-color-muted-foreground: 72 66 66;
  --tw-color-accent: 26 173 181;
  --tw-color-accent-foreground: 72 66 66;
  --tw-color-popover: 26 173 181;
  --tw-color-popover-foreground: 72 66 66;
  --tw-color-border: 245 253 236;
  --tw-color-button-hover: 20 206 216;

  --color-primary: rgb(var(--tw-color-primary)); /* #1AADB5 */
  --color-primary-foreground: rgb(
    var(--tw-color-primary-foreground)
  ); /* #484242 */
  --color-secondary: rgb(var(--tw-color-secondary)); /* #E6F4F1 */
  --color-secondary-foreground: rgb(
    var(--tw-color-secondary-foreground)
  ); /* #767676 */
  --color-muted: rgb(var(--tw-color-muted));
  --color-muted-foreground: rgb(var(--tw-color-muted-foreground));
  --color-accent: rgb(var(--tw-color-accent));
  --color-accent-foreground: rgb(var(--tw-color-accent-foreground));
  --color-popover: rgb(var(--tw-color-popover));
  --color-popover-foreground: rgb(var(--tw-color-popover-foreground));
  --color-border: rgb(var(--tw-color-border));
  --color-button-hover: rgb(var(--tw-color-button-hover)); /* #14CED8 */
}
